<section class="container faq-header">
  <h1 class="title">FAQ</h1>
  <p class="description">Frequently Asked Questions</p>
</section>
<section class="container faq-body">
  <h4>Q: How is this free?</h4> The service is supported by advertisements, if you don't see any please be kind and disable your adblocker.
  <p></p>
  <p>
  </p><h4>Q: Do you send SMS (messages)?</h4> We only provide in-bound services to all of our numbers. We do <b>not</b> send any messages.
  Our numbers are temporary, therefore it is possible another person has ownership of the same number at a different time.
  <p></p>
  <p>
  </p><h4>Q: How long are SMS (messages) kept?</h4> Messages are kept for approximately 1 day after first being received.
  <p></p>
  <p>
  </p><h4>Q: How often are the phone numbers rotated?</h4> We get new numbers on an almost daily basis, old numbers rotate out after a period of time.
  <p></p>
  <p>
  </p><h4>Q: Do you have an API? Can I scrape the site?</h4> The service is meant for end users and scraping the website is prohibited.
  <p></p>
  <p>
  </p><h4>Q: How many messages can I send to the numbers?</h4> Although there is no limit to how often you may use the service, we kindly ask to refrain from automated spamming of numbers.
  <p></p>
  <p>
  </p><h4>Q: I need a number from a previous month, can you provide it?</h4> Sorry, no. All numbers are transient and will be replaced on a regular basis. We are unable to gain access to old numbers.
  <p></p>
  <p></p>
  <h4>Q: This is great!</h4> Thank you, please share the website with your friends.
  <p></p>
</section>
