<section class="container about-container">
  <blockquote class="blurb">We receive SMS from all over the world to our phone numbers in USA and Canada. Our virtual phone numbers
  allow you to verify and register for various websites, <em>absolutely free</em>. Verify Facebook, Twitter, Google, and many more.
  The phone numbers are disposable and all messages are discarded after 1 day. Provided virtual
  phone numbers are refreshed with new ones every month. All our numbers can receive messages globally even if the sender is in a
  different country. Best of all, the service will always remain minimal and free. If you require free online service in a country
  not currently being listed, please check back later as we continuously add new locations and numbers.</blockquote>

  <h3><img alt="free" src="./assets/heart.webp"> Free</h3>
  <blockquote class="blurb">We strive to receive SMS online for free and make a promise to keep it operational without charging money for
  receiving SMS. Send as many messages as you like to activate accounts that otherwise require personal information
  to verify. There are no limits on how often or how many SMS can be sent to the virtual numbers. If you have
  found our SMS service useful, please consider sharing it using the social buttons at the bottom of the page.</blockquote>

  <h3><img alt="private" src="./assets/lock.webp"> Private</h3>
  <blockquote class="blurb">Many companies are beginning to demand a phone number to verify or activate accounts and to use their applications,
  luckily with our disposable and virtual service you can avoid providing personal information. We understand
  that privacy is important and our service allows you to keep your contact information private while gaining
  access to online SMS activated services from these various companies. We do not retain any message data longer
  than about a day and use a secure connection to serve our content.</blockquote>

  <h3><img alt="temporary" src="./assets/time.webp"> Temporary</h3>
  <blockquote class="blurb">Message are available within seconds of being received, just refresh the page to view. The virtual numbers
  displayed are temporary and disposable with completely new ones provisioned on a regular basis. SMS messages we receive
  are permanently <b>deleted</b> after about <em>seven days.</em>
  </blockquote>
</section>
