<div class="number-info text-center" style="height: auto !important;">
  <div class="number-info-title row">
    <div class="col-md-4 col-xs-12">
      <img src="./assets/gb.png" class="flag" alt="Flag Image">
    </div>
    <div class="col-md-5 col-xs-12">
      <span>ID +16476605416</span>
    </div>
  </div>
  <h2 class="number-info-description">+16476605416 is a Great Britain mobile phone number.
  </h2>
</div>

<div class="number-main-content">
  <div class="row">
    <div class="number-main-content-left">
      <div class="number-guide">
        <div class="guide-steps">
          <p class="step"><span class="step-span">➊</span> Refresh the page every couple of minutes to get new messages.</p>
          <p class="step"><span class="step-span">➋</span> New messages will arrive every couple of seconds.</p>
          <p class="step"><span class="step-span">➌</span> Be aware that anyone can see your messages for this number</p>
          <p class="step"><span class="step-span">➍</span> Please do not verify important information</p>
        </div>

        <div class="row button-row">
          <a class="message-button">↻ Update Messages</a>
          <a class="message-button">↻ Give me another number</a>
        </div>

        <h4 (click)="scrollToTable()" class="guide-description">List of last 20 SMS messages received</h4>
      </div>

      <div class="messages">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="from-col">From</th>
              <th scope="col" class="time-col">Time</th>
              <th scope="col" class="msg-col">Message</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="from-text">
                555888
              </td>
              <td class="time-text">
                5 minutes ago
              </td>
              <td class="msg-text">
                Your DENT code is: <span class="btncp1" data-clipboard-text="764202"><b>764202</b></span>
              </td>
            </tr>

            <tr>
              <td class="from-text">
                555888
              </td>
              <td class="time-text">
                5 minutes ago
              </td>
              <td class="msg-text">
                Your DENT code is: <span class="btncp1" data-clipboard-text="764202"><b>764202</b></span>
              </td>
            </tr>

            <tr>
              <td class="from-text">
                555888
              </td>
              <td class="time-text">
                5 minutes ago
              </td>
              <td class="msg-text">
                Your DENT code is: <span class="btncp1" data-clipboard-text="764202"><b>764202</b></span>
              </td>
            </tr>

            <tr>
              <td class="from-text">
                555888
              </td>
              <td class="time-text">
                5 minutes ago
              </td>
              <td class="msg-text">
                Your DENT code is: <span class="btncp1" data-clipboard-text="764202"><b>764202</b></span>
              </td>
            </tr>

            <tr>
              <td class="from-text">
                555888
              </td>
              <td class="time-text">
                5 minutes ago
              </td>
              <td class="msg-text">
                Your DENT code is: <span class="btncp1" data-clipboard-text="764202"><b>764202</b></span>
              </td>
            </tr>

            <tr>
              <td class="from-text">
                555888
              </td>
              <td class="time-text">
                5 minutes ago
              </td>
              <td class="msg-text">
                Your DENT code is: <span data-clipboard-text="764202"><b>764202</b></span>
              </td>
            </tr>

            <tr>
              <td class="from-text">
                555888
              </td>
              <td class="time-text">
                5 minutes ago
              </td>
              <td class="msg-text">
                Контакти Посольства України в Ізраїлі: Тель-Авів, вул. Ірміягу, 50. Телефон: <span class="btncp1" data-clipboard-text=" 972546676782"><b> 972546676782</b></span>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>

    <div class="number-main-content-right">
      <div class="row">
        <ul class="numbers-sidebar">
          <li class="sidebar-number">
            <a class="sidebar-number-link" routerLink="/number/447856424590">
              <img class="sidebar-number-flag" src="./assets/gb.png">
              <span class="number-span">+44 7856424590</span>
            </a>
          </li>
          <li class="sidebar-number">
            <a class="sidebar-number-link" routerLink="/number/447856424590">
              <img class="sidebar-number-flag" src="./assets/gb.png">
              <span class="number-span">+44 7856424590</span>
            </a>
          </li>
          <li class="sidebar-number">
            <a class="sidebar-number-link" routerLink="/number/447856424590">
              <img class="sidebar-number-flag" src="./assets/gb.png">
              <span class="number-span">+44 7856424590</span>
            </a>
          </li>
          <li class="sidebar-number">
            <a class="sidebar-number-link" routerLink="/number/447856424590">
              <img class="sidebar-number-flag" src="./assets/gb.png">
              <span class="number-span">+44 7856424590</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-faq></app-faq>
