<footer class="text-center">
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright © 2019 - <a href="http://virtualnumbers.online/">Virtual Numbers for SMS Online</a><br>
          Verify facebook, whatsapp, LINE, Yahoo, Vk.com, Viber, LINE, Liqpay, WeChat, HotSpots, CoinsUP, Chatroulette, Gumtree, Microsoft, Visa QIWI Wallet, Weebly, Uber, Global Call, Chikka, Localbitcoins, Premiumize.Me, Voxox, and more
        </div>
      </div>
    </div>
  </div>
</footer>
