<div class="home-info">
  <h1 class="home-title">Virtual Numbers for SMS Online</h1>
  <h3 class="home-description">virtualnumbers.online is a free service for receiving SMS messages
  online. There is no need to register. Just select your phone number from
  the list below. You can use it to receive messages from Facebook, Telegram, WeChat, VK,
  PayPal, AliPay and more</h3>

  <button (click)="scrollToNumbers()" type="button" class="btn get-number-button mb-5">Get your FREE Number</button>
</div>

<div class="popular-numbers-block d-flex flex-wrap justify-content-between">
  <div class="number-block d-flex flex-column ">
    <a class="number-block-link1 mb-2" routerLink="/number/1">
      <div class="row mb-auto">
        <div class="col-12">
          <img src="./assets/gb.png" class="number-block-flag" alt="Flag Image">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4 class="number-block-number">+447742155378</h4>
          <h5 class="number-block-country">United Kingdom</h5>
        </div>
      </div>
    </a>
    <div class="row mt-auto">
      <a routerLink="/number/1"></a>
      <div class="col-12">
        <a routerLink="/number/1"></a>
        <a routerLink="/number/1" class="number-block-button">Open</a>
      </div>
    </div>
  </div>
  <div class="number-block d-flex flex-column ">
    <a class="number-block-link1 mb-2" href="">
      <div class="row mb-auto">
        <div class="col-12">
          <img src="./assets/gb.png" class="number-block-flag" alt="Flag Image">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4 class="number-block-number">+447742155378</h4>
          <h5 class="number-block-country">United Kingdom</h5>
        </div>
      </div>
    </a>
    <div class="row mt-auto">
      <a href="/"></a>
      <div class="col-12">
        <a href="/"></a>
        <a href="/" class="number-block-button">Open</a>
      </div>
    </div>
  </div>
  <div class="number-block d-flex flex-column ">
    <a class="number-block-link1 mb-2" href="">
      <div class="row mb-auto">
        <div class="col-12">
          <img src="./assets/gb.png" class="number-block-flag" alt="Flag Image">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4 class="number-block-number">+447742155378</h4>
          <h5 class="number-block-country">United Kingdom</h5>
        </div>
      </div>
    </a>
    <div class="row mt-auto">
      <a href="/"></a>
      <div class="col-12">
        <a href="/"></a>
        <a href="/" class="number-block-button">Open</a>
      </div>
    </div>
  </div>
  <div class="number-block d-flex flex-column ">
    <a class="number-block-link1 mb-2" href="">
      <div class="row mb-auto">
        <div class="col-12">
          <img src="./assets/gb.png" class="number-block-flag" alt="Flag Image">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4 class="number-block-number">+447742155378</h4>
          <h5 class="number-block-country">United Kingdom</h5>
        </div>
      </div>
    </a>
    <div class="row mt-auto">
      <a href="/"></a>
      <div class="col-12">
        <a href="/"></a>
        <a href="/" class="number-block-button">Open</a>
      </div>
    </div>
  </div>
  <div class="number-block d-flex flex-column ">
    <a class="number-block-link1 mb-2" href="">
      <div class="row mb-auto">
        <div class="col-12">
          <img src="./assets/gb.png" class="number-block-flag" alt="Flag Image">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4 class="number-block-number">+447742155378</h4>
          <h5 class="number-block-country">United Kingdom</h5>
        </div>
      </div>
    </a>
    <div class="row mt-auto">
      <a href="/"></a>
      <div class="col-12">
        <a href="/"></a>
        <a href="/" class="number-block-button">Open</a>
      </div>
    </div>
  </div>
  <div class="number-block d-flex flex-column ">
    <a class="number-block-link1 mb-2" href="">
      <div class="row mb-auto">
        <div class="col-12">
          <img src="./assets/gb.png" class="number-block-flag" alt="Flag Image">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4 class="number-block-number">+447742155378</h4>
          <h5 class="number-block-country">United Kingdom</h5>
        </div>
      </div>
    </a>
    <div class="row mt-auto">
      <a href="/"></a>
      <div class="col-12">
        <a href="/"></a>
        <a href="/" class="number-block-button">Open</a>
      </div>
    </div>
  </div>
  <div class="number-block d-flex flex-column ">
    <a class="number-block-link1 mb-2" href="">
      <div class="row mb-auto">
        <div class="col-12">
          <img src="./assets/gb.png" class="number-block-flag" alt="Flag Image">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4 class="number-block-number">+447742155378</h4>
          <h5 class="number-block-country">United Kingdom</h5>
        </div>
      </div>
    </a>
    <div class="row mt-auto">
      <a href="/"></a>
      <div class="col-12">
        <a href="/"></a>
        <a href="/" class="number-block-button">Open</a>
      </div>
    </div>
  </div>
  <div class="number-block d-flex flex-column ">
    <a class="number-block-link1 mb-2" href="">
      <div class="row mb-auto">
        <div class="col-12">
          <img src="./assets/gb.png" class="number-block-flag" alt="Flag Image">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4 class="number-block-number">+447742155378</h4>
          <h5 class="number-block-country">United Kingdom</h5>
        </div>
      </div>
    </a>
    <div class="row mt-auto">
      <a href="/"></a>
      <div class="col-12">
        <a href="/"></a>
        <a href="/" class="number-block-button">Open</a>
      </div>
    </div>
  </div>
  <div class="number-block d-flex flex-column ">
    <a class="number-block-link1 mb-2" href="">
      <div class="row mb-auto">
        <div class="col-12">
          <img src="./assets/gb.png" class="number-block-flag" alt="Flag Image">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4 class="number-block-number">+447742155378</h4>
          <h5 class="number-block-country">United Kingdom</h5>
        </div>
      </div>
    </a>
    <div class="row mt-auto">
      <a href="/"></a>
      <div class="col-12">
        <a href="/"></a>
        <a href="/" class="number-block-button">Open</a>
      </div>
    </div>
  </div>
</div>

<app-about></app-about>
